// colors
$color-light: #F2F2EA;
$color-dark: #101010;
$color-highlight: #C562CE;

// sizes
$spacing: 32px;
$border-radius: 16px;
$header-height: 34px;

//breakpoints
$layout-breakpoint-small-width: 600px;
$layout-breakpoint-medium-height: 860px;

* {
  color: $color-dark;
}