// colors
$color-light: #F2F2EA;
$color-dark: #101010;
$color-highlight: #C562CE;

// sizes
$spacing: 32px;
$border-radius: 16px;
$header-height: 80px;

//breakpoints
$layout-breakpoint-small: 600px;

* {
  color: $color-dark;
}