@use './../../styles' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  .title {
    color: $color-light;
    font-size: 24px;
    cursor: pointer;
    margin: 0;

    letter-spacing: 1.4px;

    &:hover {
      @include montserrat-alternates-semibold();
      letter-spacing: 1px;
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}