@use './../../../styles' as *;

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing);
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    border-radius: 100%;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    margin: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-highlight;
    width: 18px;
    border-radius: 10px;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    left: var(--spacing);
  }

  .content {
    max-width: 600px;
    margin: auto;

    h2 {
      @include montserrat-alternates-light();
      font-size: 60px;
      width: 100%;
      margin: 0;
      letter-spacing: 1.8pt;
      line-height: 100%;
      margin-bottom: 16px;
      word-break: break-word;
      margin: 0 0 var(--spacing);
    }

    p {
      @include montserrat-alternates-regular();
      font-size: 16px;
      width: 100%;
      margin: 0 0 var(--spacing);
      line-height: 200%;
      letter-spacing: 1.1pt;
    }

  }

  .footer {
    width: 100%;

    p,
    span,
    a {
      @include montserrat-alternates-regular-italic();
      text-align: left;
    }

    a {
      color: $color-highlight;
      text-decoration: underline;

      &:hover {
        background-color: $color-highlight;
        color: $color-light
      }
    }
  }
}