@use './../../../styles' as *;

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing;
  height: 100%;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .content {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing 0;

    gap: $spacing;

    h2 {
      @include montserrat-alternates-light();
      font-size: 60px;
      width: 100%;
      margin: 0;
      letter-spacing: 1.8pt;
      line-height: 100%;
      margin-bottom: 16px;
    }

    p {
      @include montserrat-alternates-regular();
      font-size: 16px;
      width: 100%;
      margin: 0;
      line-height: 200%;
      letter-spacing: 1.1pt;
    }

  }

  .footer {

    p,
    span,
    a {
      @include montserrat-alternates-regular-italic();
    }

    a {
      color: $color-highlight;
      text-decoration: underline;

      &:hover {
        background-color: $color-highlight;
        color: $color-light
      }
    }
  }
}