@use '../../styles' as *;

$animation-duration: 300ms;
$max-width: 860px;

@mixin focusCard() {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 10;
}

.bento-home {
  background-color: $color-dark;
  width: 100%;
  height: 100%;
  padding: $spacing;
  box-sizing: border-box;
  background-color: $color-dark;

  .content {
    display: grid;
    grid-template-rows: $header-height 1fr auto;
    gap: $spacing;
    max-width: $max-width;
    margin: auto;
    height: 100%;
  }

  .footer {
    @include montserrat-alternates-light();
    color: $color-light;
    font-size: 12px;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
  }

  .deck-container {
    position: relative;

    .deck {
      position: absolute;
      display: grid;
      gap: $spacing;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 1fr);
      height: 100%;
      width: 100%;
    }
  }


  .card {
    /** animation config */
    animation-duration: $animation-duration;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    transition-property: opacity;

    &[card-animation=ease-in] {
      animation-name: ease-in-animation;
      opacity: 1;
    }

    &[card-animation=ease-out] {
      animation-name: ease-out-animation;
      opacity: 0;
    }

    &[card-status=focused] {
      @include focusCard();
    }

    &[card-status=hidden] {
      display: none;
    }

    &[card-status=idle] {

      &.perfil {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
      }

      &.links {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 10;
      }

      &.uiux {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
      }

      &.development {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 10;
      }
    }
  }
}


@keyframes ease-in-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ease-out-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (max-width: $layout-breakpoint-small-width) {
  .bento-home {
    height: auto;

    .content {
      display: flex;
      flex-direction: column;
    }

    .deck-container {
      position: relative;

      .deck {
        position: static;
        display: flex;
        flex-direction: column;
      }
    }
  }
}